<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">신규 입력하기</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">관광지명</label>
        <input
          class="form-control"
          type="text"
          name="campground[trrsrtNm]"
          id="title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-auto mb-3">
        <select
          class="form-select form-select mb-3"
          aria-label="Small select example"
          name="campground[city]"
          required
        >
          <option selected>지역을 선택하세요</option>
          <% for (let city of cities) {%>
          <option value="<%= city %>"><%=city %></option>
          <% } %>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">주소</label>
        <input
          class="form-control"
          type="text"
          name="campground[addr]"
          id="location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="institution">관리기관</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="institution"
            placeholder="기관명을 입력하세요"
            aria-label="기관명"
            aria-describedby="instituion"
            name="campground[institutionNm]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="referenceDate">기준일자</label>
        <input
          class="form-control"
          type="text"
          name="campground[referenceDate]"
          id="referenceDate"
          placeholder="정보기준일입력하세요(예:2023-10-15)"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">소개정보</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[trrsrtIntrcn]"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="image"
            name="image"
            multiple
          />
          <label class="input-group-text" for="image">업로드</label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">저장하기</button>
      </div>
      <div><a href="/campgrounds/?page=1">전체 관광지</a></div>
    </form>
  </div>
</div>
